@import "fonts.css";
@import "normalize.css";
@import "variables.css";

body {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
}

.wrapper__container {
    width: clamp(400px, 50vw, 800px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.header__section {
    padding-block: 60px;
    background-color: var(--middle-green);
    width: 100%;
    text-align: center;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.header__title {
    font-size: clamp(28px, 3vw, 4vw);
}

.main__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-amount__section {
    width: 50%;
    margin-top: -30px;
    background-color: var(--dark-green);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 15px;
    border-radius: 12px;
    color: white;
    box-shadow: var(--shadow);
}

.total-balance__title {
    font-size: clamp(15px, 1.5vw, 3vw);
}

.total-balance-sum {
    font-size: clamp(22px, 2vw, 3vw);
    font-weight: 700;
}

.expenses__wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
}

.arrow-amount__wrapper{
    position: relative;
    z-index: 0;
}

.arrow-amount__wrapper::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--light-green);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.arrow-amount-expenses__wrapper::before {
    background-color: var(--light-red);
}

.income-expenses__wrapper {
    display: flex;
    justify-content: space-between;
}

.total-amount__title {
    font-size: clamp(13px, 1vw, 2vw);
    font-weight: 500;
}

.total-sum {
    font-weight: 700;
}

.form-transaction__section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-transaction__title {
    color: var(--dark-green);
    font-size: clamp(20px, 2.5vw, 4vw);
}

.transaction-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.select__wrapper {
    display: flex;
    justify-content: space-between;
}
#select-income, #select-expenses {
    cursor: pointer;
}

#select-income + label {
    color: var(--dark-green);

}
#select-expenses + label {
    color: var(--light-red);
}

.transaction-history__section {
    width: 100%;
}

.transaction__element {
    display: flex;
    justify-content: space-between;
}
